# Binary classification of the Bank Note Authentication dataset

ðŸ”— [Bank Note Authentication dataset](https://www.kaggle.com/datasets/ritesaluja/bank-note-authentication-uci-data)

In [1]:
import pandas as pd
import numpy as np
from src.main import NeuralNetwork
from src.layers import Dense, Sigmoid
from sklearn.model_selection import train_test_split

## Manipulating the dataset

In [2]:
bank = pd.read_csv('data/BankNote_Authentication.csv')

In [3]:
bank.head()

   variance  skewness  curtosis  entropy  class
0   3.62160    8.6661   -2.8073 -0.44699      0
1   4.54590    8.1674   -2.4586 -1.46210      0
2   3.86600   -2.6383    1.9242  0.10645      0
3   3.45660    9.5228   -4.0112 -3.59440      0
4   0.32924   -4.4552    4.5718 -0.98880      0

In [15]:
bank.describe()

          variance     skewness     curtosis      entropy        class
count  1372.000000  1372.000000  1372.000000  1372.000000  1372.000000
mean      0.433735     1.922353     1.397627    -1.191657     0.444606
std       2.842763     5.869047     4.310030     2.101013     0.497103
min      -7.042100   -13.773100    -5.286100    -8.548200     0.000000
25%      -1.773000    -1.708200    -1.574975    -2.413450     0.000000
50%       0.496180     2.319650     0.616630    -0.586650     0.000000
75%       2.821475     6.814625     3.179250     0.394810     1.000000
max       6.824800    12.951600    17.927400     2.449500     1.000000

In [4]:
bank.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1372 entries, 0 to 1371
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   variance  1372 non-null   float64
 1   skewness  1372 non-null   float64
 2   curtosis  1372 non-null   float64
 3   entropy   1372 non-null   float64
 4   class     1372 non-null   int64
dtypes: float64(4), int64(1)
memory usage: 53.7 KB

In [5]:
bank.shape

(1372, 5)

### Extracting input data and target data

In [6]:
X = bank.iloc[:,:4]
Y = bank['class']

In [7]:
X_numpy = X.to_numpy()
Y_numpy = Y.to_numpy().reshape(-1, 1)

###  Splitting in train dataset and test dataset

80% for train dataset, 20% for test dataset

In [8]:
x_train, x_test, y_train, y_test = train_test_split(X_numpy, Y_numpy, test_size=0.2)

In [9]:
x_train = x_train.T
y_train = y_train.T
x_test = x_test.T
y_test = y_test.T

## Creating the neural network

We are using one hidden layer with 16 hidden units.

Input -> (Linear -> ReLU) ->  (Linear -> Sigmoid) -> Output

In [10]:
layers = [Dense(4, 16), Sigmoid(16)]
model = NeuralNetwork(layers)

### Training the model

Training for 100 epochs with 0.05 of learning_rate

In [24]:
model.fit(x_train, y_train, epochs=100, learning_rate=0.05, print_step=10)

Epoch: 0, Cost: 8.156796001189607

Epoch: 10, Cost: 2.941882563322928

Epoch: 20, Cost: 0.5897138818256091

Epoch: 30, Cost: 0.338954799953759

Epoch: 40, Cost: 0.24009779677799775

Epoch: 50, Cost: 0.1778459975841999

Epoch: 60, Cost: 0.1390929083416745

Epoch: 70, Cost: 0.11197201153461434

Epoch: 80, Cost: 0.09220077373117468

Epoch: 90, Cost: 0.0774120528086668

Epoch: 99, Cost: 0.06700948421731799

### Evaluating the model

In [25]:
model.evaluate(x_test, y_test)

0.96